@import "tailwindcss";


html {
  scroll-behavior: smooth;
}

.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #9ca3af;
  border-radius: 10px;
}
